
@{
    ViewBag.Title = "Create";
}

<h2>Employee Login Successful</h2>

<footer>
    <div id="footer1" class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <p>
                    @Html.ActionLink("View Farmer's", "Index", "Farmers")
                    @Html.ActionLink("View Products", "Index", "Products")
                </p>
            </div>
        </div>
    </div>
</footer>
    

